<div class="project" [ngStyle.sm]="{'height.px':160}" [ngStyle.xs]="{'height.px':120}">
    <div class="logo" [ngStyle]="{'background-image': 'url(' + project.img + ')'}" [ngStyle.sm]="{'height.px':160}" [ngStyle.xs]="{'height.px':120}">
        <div class="hover" [ngStyle.sm]="{'height.px':160,'padding':'32px 16px 16px 16px'}" [ngStyle.xs]="{'height.px':120,'padding':'32px 16px 16px 16px'}">
            <div class="title h3">{{ (project)?.title }}</div>
            <div class="subtitle">{{ (project)?.subtitle }}</div>
        </div>
    </div>
</div>


