    .expertin{
        background-color: #FFFFFF;
        width: 100%;
        overflow: auto;
    }
    .titleExpertin{
        padding-left: 70%;
    }
    .expertinSVG{
        margin-top: 32px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .content{
        margin-top: 8px;
        padding: 24px 10%;
        box-sizing: border-box;
    }
    .content button{
        margin-top: 24px;
    }