/* Open Sans */

    /* Regular */
    @font-face {
        font-family: 'Open Sans';
        src: url('/assets/fonts/OpenSans-Regular.ttf');
        font-weight: normal;
        font-style: normal;
    }
    /* Bold */
    @font-face {
        font-family: 'Open Sans';
        src: url('/assets/fonts/OpenSans-Bold.ttf');
        font-weight: bold;
        font-style: normal;
    }

    .wf-opensans-n4-active.wf-opensans-n7-active body{
        font-family: 'Open Sans', sans-serif;
    }