 body{
        margin: 0;
        font-size: 16px;
        font-family: 'dejavu_sansbold',sans-serif;
        background-color: #eee;
    }

/* Fonts */

	@font-face {
		font-family: 'dejavu_sansbold';
		src: url('DejaVuSans-Bold.eot');
		src: url('DejaVuSans-Bold.eot?#iefix') format('embedded-opentype'),
			url('DejaVuSans-Bold.woff') format('woff'),
			url('DejaVuSans-Bold.ttf') format('truetype'),
			url('DejaVuSans-Bold.svg#dejavu_sansbold') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'dejavu_sansextralight';
		src: url('DejaVuSans-ExtraLight.eot');
		src: url('DejaVuSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
			url('DejaVuSans-ExtraLight.woff') format('woff'),
			url('DejaVuSans-ExtraLight.ttf') format('truetype'),
			url('DejaVuSans-ExtraLight.svg#dejavu_sansextralight') format('svg');
		font-weight: normal;
		font-style: normal;
	}

/* Progress Bar */

	.loading-screen{
		width: 100vw;
		height: 100vh;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1000;
	}

	.progress {
		position: absolute;
		top: 0;
		left: 0;
		height: 8px;
		display: block;
		width: 100vw;
		background-color: rgba(244,54,76,1);
		border-radius: 0px;
		background-clip: padding-box;
		margin: 0;
		overflow: hidden;
		z-index: 1001;
		opacity: 0.75;
	}
	.hide{
		display: none!important;
	}
	.progress .indeterminate {
		background-color: #ffffff;
    	z-index: 10100;
	}
	.progress .indeterminate:before {
		content: '';
		z-index: 1002;
		position: absolute;
		background-color: inherit;
		top: 0;
		left: 0;
		bottom: 0;
		will-change: left, right;
		-webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
				animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	}
	.progress .indeterminate:after {
		content: '';
		position: absolute;
		z-index: 1002;
		background-color: inherit;
		top: 0;
		left: 0;
		bottom: 0;
		will-change: left, right;
		-webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
				animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
		-webkit-animation-delay: 1.15s;
				animation-delay: 1.15s;
	}

	@-webkit-keyframes indeterminate {
		0% {
			left: -35%;
			right: 100%; 
		}
		60% {
			left: 100%;
			right: -90%; 
		}
		100% {
			left: 100%;
			right: -90%; 
		}
	}

	@keyframes indeterminate {
		0% {
			left: -35%;
			right: 100%; 
		}
		60% {
			left: 100%;
			right: -90%; 
		}
		100% {
			left: 100%;
			right: -90%; 
		}
	}

	@-webkit-keyframes indeterminate-short {
		0% {
			left: -200%;
			right: 100%; 
		}
		60% {
			left: 107%;
			right: -8%; 
		}
		100% {
			left: 107%;
			right: -8%; 
		}
	}
	@keyframes indeterminate-short {
		0% {
			left: -200%;
			right: 100%; 
		}
		60% {
			left: 107%;
			right: -8%; 
		}
		100% {
			left: 107%;
			right: -8%; 
		}
	}
