
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* General Theming */
.center{
    text-align: center;
}
.h1{
    font-size: 40px;
    color: rgb(27,40,48);
    font-weight: bold;
}
.h2{
    font-size: 26px;
    color: rgb(27,40,48);
    font-weight: bold;
}
.h3{
    font-size: 20px;
    color: rgb(27,40,48);
    font-weight: bold;
}
.h4{
    font-size: 16px;
    color: rgb(27,40,48);
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.colorWhite{
    color: #FFFFFF;
}
.colorBlue{
    color: #0084FB;
}

/* Material CSS Fixes */
button.mat-raised-button{
    background-color: #0084FB;
    color: #FFFFFF;
    font-size: 20px;
    padding: 12px 24px;
}
.MenuButton.mat-fab .mat-button-wrapper{
    padding-top: 2px;
    line-height: 56px;
}
.mat-form-field-underline{
    background: rgb(89,97,103);
}
.mat-form-field-ripple{
    background-color: #0084FB;
}