
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button.mat-raised-button{
    background-color: #0084FB;
    color: #FFFFFF;
}

.MenuButton.mat-fab .mat-button-wrapper{
    padding: 0;
    line-height: 56px;
}
.title{
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 20px;
}