.educationItem,.conferenceItem{
    margin-bottom: 48px;
    position: relative;
    z-index: 10;
}
.education,.conferences,.educationConferencesWrapper{
    background-color: #FFFFFF;
    position: relative;
}
.title.right{
    text-align: right;
}
.title.left{
    text-align: left;
}
.educationConferencesWrapper{
    padding: 64px 10%;
}
.title{
    position: relative;
    z-index: 10;
    margin-bottom: 64px;
    margin-top: 96px;
}
.educationSVG{
    position: absolute;
    right:0;
    z-index: 5;
}
.conferencesSVG{
    position: absolute;
    margin-top: 280px;
    left:0;
    z-index: 5;
}
.addRightMargin{
    margin-right: -10%;
}
.addLeftMargin{
    margin-left: -10%;
}