.education,.conferences,.educationConferencesWrapper{
    background-color: #FFFFFF;
}
.title.right{
    text-align: right;
}
.title.left{
    text-align: left;
}
.educationConferencesWrapper{
    padding: 0 10%;
}