.contact {
  background-color: #263038;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  position: relative;

  .envelope {
    margin: 0 0 0 -140px;
  }

  .intro {
    box-sizing: border-box;
    width: 100%;
  }

  .contact-left {
    overflow: hidden;
  }

  .contact-right {
    padding: 0 10% 0 5%;
  }

  .align-right {
    text-align: right;
  }

  .inputs {
    float: right;
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .contact-form {
    margin-top: 32px;
  }

  .message {
    margin-top: 24px;
  }

  .recaptcha {
    margin: 32px 8px 8px 8px;
  }

  .grecaptcha-badge {
    margin: 0 auto;
  }

  .mat-input-underline {
    background-color: #596167;
  }
}
