.contact{
    background-color: #263038;
    height: 100%;
    width: 100%;
    overflow: auto;
    height: 100vh;
    width: 100wh;
    color: #FFFFFF;
}
.intro{
    margin-top: 32px;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    text-align: ceannter;
}