
.video{
    position: relative;
    background-color: #4280F7;
    height: 100%;
    width: 100%;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    height: calc(100vh - 150px);
}
.titleVideo{
    position: absolute;
    top: 40%;
    left: 10%;
    margin: 0;
    line-height: 1;
    max-width: 80%;
}
.subtitle.h2{
    margin-top: 8px;
    font-weight: normal;
    color: rgba(255,255,255,0.5);
}
.divider1{
    background-color: #FFFFFF;
    height: 111px;
    width: 100%;
}
.links{
    margin-top: 64px;
}
.links a{
    margin: 8px;
    text-decoration: none;
}