.mastery {
    width: 90px;
    height: 120px;
    margin: 8px;
}

.logo {
    width: 90px;
    height: 90px;
}

.mastery .subtitle {
    font-size: 14px;
}


/* ExpertIn images sprite */

.logo {
    background-image: url('/assets/img/expertin-min.png');
    background-repeat: no-repeat;
    display: block;
}

.bg-angular {
    width: 90px;
    height: 90px;
    background-position: 0 0;
}

.bg-bootstrap {
    width: 90px;
    height: 90px;
    background-position: -90px 0;
}

.bg-css {
    width: 90px;
    height: 90px;
    background-position: -180px 0;
}

.bg-facebook {
    width: 90px;
    height: 90px;
    background-position: -270px 0;
}

.bg-foundation {
    width: 90px;
    height: 90px;
    background-position: 0 -90px;
}

.bg-git {
    width: 90px;
    height: 90px;
    background-position: -90px -90px;
}

.bg-google {
    width: 90px;
    height: 90px;
    background-position: -180px -90px;
}

.bg-gulp {
    width: 90px;
    height: 90px;
    background-position: -270px -90px;
}

.bg-html {
    width: 90px;
    height: 90px;
    background-position: 0 -180px;
}

.bg-illustrator {
    width: 90px;
    height: 90px;
    background-position: -90px -180px;
}

.bg-jasmine {
    width: 90px;
    height: 90px;
    background-position: -180px -180px;
}

.bg-javascript {
    width: 90px;
    height: 90px;
    background-position: -270px -180px;
}

.bg-jquery {
    width: 90px;
    height: 90px;
    background-position: 0 -270px;
}

.bg-karma {
    width: 90px;
    height: 90px;
    background-position: -90px -270px;
}

.bg-mongo {
    width: 90px;
    height: 90px;
    background-position: -180px -270px;
}

.bg-mysql {
    width: 90px;
    height: 90px;
    background-position: -270px -270px;
}

.bg-nodejs {
    width: 90px;
    height: 90px;
    background-position: -360px 0;
}

.bg-photoshop {
    width: 90px;
    height: 90px;
    background-position: -360px -90px;
}

.bg-php {
    width: 90px;
    height: 90px;
    background-position: -360px -180px;
}

.bg-sass {
    width: 90px;
    height: 90px;
    background-position: -360px -270px;
}

.bg-typescript {
    width: 90px;
    height: 90px;
    background-position: 0 -360px;
}