
.MenuButton{
    display: block;
    position: absolute;
    right: 140px;
    top: 200px;
    cursor: pointer;
}

.MenuFullscreen{
    display: block;
    position: absolute;
    background-color: #F8FAFF;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    nav a {
        color: #252E38;
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
        font-size: 24px;
        cursor: pointer;
    }
    nav a:hover{
        color: #868C93;
    }
    nav a.active{
        color: #bababa;
    }
    nav{
        text-align: center;
        width: 100%;
    }
}
