.portfolio{
    background-color: #F4F7F9;
    height: 100%;
    width: 100%;
    overflow: auto;
    height: 100vh;
    width: 100wh;
}
.title{
    margin-top: 32px;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
.actions{
    width: 100%;
    text-align: center;
}